// colors
$title-color: #181c31;
$text-color: #79808a;
$main-bg: #F4F7FA;
$second-bg: #ECF0F5;
$link-bg: #4E6BFF;
$green: #20CA66;
$orange: #FA9161;
$pink: #F36A8D;
$white: #fff;
$yellow: #FFDD0F;

// font family
$family: 'Inter', sans-serif;